<html ng-app="fbApp">
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='FriendController.js' type='text/javascript'></script>



<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>

<body ng-controller="FriendController">


<h1>The <strong>facebook</strong> Friend Machine</h1>

<div class="friends">


<form class="form-inline searchForm" role="form">
  <div class="form-group">

 <!-- <input class="form-control" placeholder="Search Anything About Your Friends"  ng-model="searchTerm"> -->
    
    <input class="form-control" placeholder="Search Your Friends' Name" ng-model="searchTermName" >
    <input class="form-control" placeholder="Search Your Friends' Location" ng-model="searchTermLocation" > 
 
    Sort by: <select class="input-medium" ng-model="myOption" ng-options="option.item for option in options" ></select>
    
    <!-- <select class="input-medium"> -->

        <button value="true" ng-click="predicate = 'name'; reverse=false">Ascending</button>
        <button value="false" ng-click="predicate = '-name'; reverse=false">Descending</button>

    <!-- </select> -->
  </div>
</form>

  <ul ng-repeat="friend in friends | filter:{name:searchTermName} | filter:{current_location:searchTermLocation} | orderBy:predicate:reverse">
    <li class='friend'>
       <img class="profile-pic" src='{{friend.pic_square}}'>
      <h3>{{ friend.name }}</h3>
      <div class="location">
        Location: {{ friend.current_location.city }}, {{ friend.current_location.state }}, {{ friend.current_location.country. }} 
      </div>      
      <div class="status">
        Status: {{ friend.status.message }}
      </div>      
      <div class="num-friends">
        Friends: {{ friend.friend_count }}
      </div>
    </li>
  </ul>
</div>








</body>
</html>